<!--portada-->
<aside class="portada">
    <h3 class="text-center">Catálogo</h3>
</aside>

<section>
    <table class="table shadow-lg p-3 mb-5 bg-white rounded">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aceite de motor</td>
                <td>Elaion F30</td>
                <th scope="col">$50</th>
                <td>
                    <h4><span class="badge badge-success">Disponible</span></h4>
                </td>
            </tr>
        </tbody>
    </table>
</section>