.portada{
    background: url("https://i.ibb.co/P9kcyMq/bg-catalogo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}