<ul class="list-group shadow-lg rounded">

    <li class="list-group-item text-white text-center bg-dark">Carrito de compras</li>
    <li class="list-group-item" *ngIf="(listaCompras$ | async).length<=0">Sus productos apareceran aqui</li>
    <li *ngFor="let producto of (listaCompras$ | async)" class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge badge-primary badge-pill">{{producto.cantidad}}</span>
        {{producto.nombre | uppercase}}
    </li>

</ul>