<!--portada-->
<aside class="portada">
    <h3 class="text-center">About</h3>
</aside>

<section>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SPA usando Angular</h5>
            <p class="card-text">Se aplico una nueva tecnologia a una version simplificada del sitio web <a
                    href="https://github.com/tomascepeda/TPE-Web-2">lubricentro</a> de la materia web 2</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Creado por <a href="https://github.com/tomascepeda">Tomás Cepeda</a> para el seminario de introduccion a Angular</li>
            <li class="list-group-item">Contacto: <span class="text-primary">tcepeda@alumnos.exa.unicen.edu.ar</span></li>
            <li class="list-group-item">Codigo (Javi): 555312</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link" [routerLink]="['/shop']">Shop</a>
            <a href="#" class="card-link" [routerLink]="['/catalogo']">Catálogo</a>
        </div>
    </div>
</section>